@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245; /* Neutral gray */
  --background-end-rgb: 245, 245, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  min-height: 100vh;
}

/* Paper styling */
.paper-canvas {
  background-color: #fdfbf7;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
}

/* Content Editable placeholder styling */
[contenteditable]:empty:before {
  content: attr(data-placeholder);
  color: #a0aec0;
  pointer-events: none;
  display: block; /* For Firefox */
}
